@page "/FileTree"
@using System.IO
@using System.Collections
@using Microsoft.Build.Logging.StructuredLogger
@using Radzen
@using Radzen.Blazor
@inject Blazor.FileReader.IFileReaderService fileReaderService
@inject NotificationService notificationService

<center>
    <h1>Structured Log Viewer</h1>
    <input type="file" @ref=inputElement />
    <button @onclick=ReadFile class="btn btn-primary">Read file</button>
    <button @onclick=ClearFile class="btn btn-primary">Clear</button>
    <br />
    <br />
    @if (reading)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
        <h3>@waitText</h3>
    }
</center>


<h1>@test</h1>
<br />
<br />
@if (binLogSelected)
{
    <RadzenTree Data="@entries" Style="word-break:break-all;overflow-y:scroll" Expand="@((TreeExpandEventArgs args) => {OnExpand(args);})">
            <RadzenTreeLevel Template="@TreeDesign" Text="@GetTextForNode"
                             HasChildren="@((node) => {
                                    if (node is TreeNode)
                                        return ((TreeNode)node).HasChildren;
                                    else return false;
                                })" />
    </RadzenTree>
}
<RadzenNotification />

@code {
    bool binLogSelected = false;
    ElementReference inputElement;
    static string test;
    bool reading;
    string waitText;

    IEnumerable<BaseNode> entries = null;

    public static RenderFragment<RadzenTreeItem> TreeDesign = (context) => builder =>
    {
        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, "Icon", "crop_16_9");
        var node = (BaseNode)context.Value;
        string color = "Black";
        if (node is Folder)
        {
            builder.AddAttribute(2, "Style", "color: Goldenrod");
            color = "GoldenRod";
        }
        else if (node is Target)
        {
            builder.AddAttribute(2, "Style", "color: MediumPurple");
            color = "MediumPurple";
        }
        else if (node is Microsoft.Build.Logging.StructuredLogger.Task)
        {
            builder.AddAttribute(2, "Style", "color: DodgerBlue");
            color = "DodgerBlue";
        }
        else if (node is Parameter)
        {
            builder.AddAttribute(2, "Style", "color: DodgerBlue");
            color = "DodgerBlue";
        }
        else if (node is Microsoft.Build.Logging.StructuredLogger.Property)
        {
            builder.AddAttribute(2, "Style", "color: DodgerBlue");
            color = "DodgerBlue";
        }
        else if (node is Item)
        {
            builder.AddAttribute(2, "Style", "color: MediumAquamarine");
            color = "MediumAquamarine";
        }
        else if (node is Metadata)
        {
            builder.AddAttribute(2, "Style", "color: MediumAquamarine");
            color = "MediumAquamarine";
        }
        else if (node is Message)
        {
            builder.AddAttribute(2, "Style", "color: LightGray");
            color = "LightGray";
        }
        else if (node is Import)
        {
            builder.AddAttribute(2, "Style", "color: Sienna");
            color = "Sienna";
        }
        else if (node is NoImport)
        {
            builder.AddAttribute(2, "Style", "color: Red");
            color = "Red";
        }
        else if (node is Error)
        {
            builder.AddAttribute(2, "Style", "color: Red");
            color = "Red";
        }
        else if (node is Warning)
        {
            builder.AddAttribute(2, "Style", "color: Gold");
            color = "Gold";
        }
        if (!context.HasChildren)
        {
            builder.AddAttribute(3, "Style", "color: " + color + ";margin-left: 24px");
        }

        builder.CloseComponent();
        builder.AddContent(4, context.Text);
    };

    async System.Threading.Tasks.Task ShowNotification(NotificationMessage message)
    {
        message.Severity = NotificationSeverity.Error;
        message.Summary = "Wrong File Type!";
        message.Detail = "Currently we only read .binlog files. Click Instructions to learn more.";
        message.Duration = 4000;
        notificationService.Notify(message);
    }


    public static string GetTextForNode(Object node)
    {
        string text = node switch
        {
            Project p => p.Name,
            Target t => "Target " + t.Name,
            Folder f => f.Name,
            ProjectEvaluation pe => pe.Name,
            Microsoft.Build.Logging.StructuredLogger.Task ta => "Task " + ta.Title + " duration " + ta.DurationText,
            AddItem a => "Add Item " + a.Name,
            RemoveItem r => "Remove Item " + r.Name,
            Item i => i.NameAndEquals + " " + i.ShortenedText,
            Metadata m => m.NameAndEquals + " " + m.ShortenedValue,
            EvaluationProfileEntry epe => epe.Title + " " + epe.DurationText + " " + epe.ShortenedElementDescription,
            Property p => p.NameAndEquals + " " + p.ShortenedValue,
            Parameter p => p.Name,
            Message m => m.ShortenedText,
            Import i => "Import " + i.Name + " " + i.Location,
            NoImport ni => "NoImport " + ni.Name + " " + ni.Location + " " + ni.Text,
            Error e => e.ToString(),
            Warning w => w.ToString(),
            Note n => n.Text,
            SourceFile sf => sf.Name,
            SourceFileLine sfl => sfl.LineNumber + " " + sfl.LineText,
            ProxyNode pn => pn.Text,
            TimedNode t => t.Name,
            _ => node.ToString()
        };
        if (text != null &&  text.Contains("Detailed summary"))
        {
            text = "Detailed Summary...";
        }
        return text;

    }

    public static void OnExpand(TreeExpandEventArgs args)
    {
        if (args.Value is TreeNode)
        {
            args.Children.Data = ((TreeNode)args.Value).Children;
            args.Children.Text = GetTextForNode;
            args.Children.HasChildren = (node) =>
            {
                if (node is TreeNode)
                    return ((TreeNode)node).HasChildren;
                else
                    return false;
            };
            args.Children.Template = TreeDesign;
        }
        else
        {
            args.Children.Text = (Object obj) => (string)args.Value;
            args.Children.Data = null;
            args.Children.HasChildren = (Object obj) => false;
        }
    }

    public async System.Threading.Tasks.Task ClearFile()
    {
        await fileReaderService.CreateReference(inputElement).ClearValue();
        binLogSelected = false;
        reading = false;
        waitText = "";
    }

    public async System.Threading.Tasks.Task ReadFile()
    {
        binLogSelected = false;
        reading = true;
        this.StateHasChanged();
        waitText = "Here we go...";
        var files = (await fileReaderService.CreateReference(inputElement).EnumerateFilesAsync());
        foreach (Blazor.FileReader.IFileReference file in files)
        {
            var fileInfo = await file.ReadFileInfoAsync();
            String[] split = fileInfo.Name.Split(".");
            if (!String.Equals("binlog", split[split.Length - 1]))
            {
                await ShowNotification(new NotificationMessage());
                await ClearFile();
                break;
            }
            waitText = "Still reading...";
            this.StateHasChanged();
            binLogSelected = true;
            Task<Blazor.FileReader.AsyncDisposableStream>
            streamTask = file.OpenReadAsync();
            var stream = await streamTask;
            var memoryStream = new MemoryStream();
            waitText = "Teaching you patience...";
            this.StateHasChanged();
            await stream.CopyToAsync(memoryStream);

            memoryStream.Position = 0;

            Build build = Serialization.ReadBinLog(memoryStream);
            SearchViewer.searcher = new StructuredLogViewer.Search(build, StructuredLogViewer.Search.DefaultMaxResults);
            waitText = "Trust me you're computer wants this to be over more than you do...";
            this.StateHasChanged();
            BuildAnalyzer.AnalyzeBuild(build);
            waitText = "Not a joke...We're actually still reading...";
            this.StateHasChanged();
            entries = (IEnumerable<BaseNode>)build.Children;
            splitDescription();
        }
        this.StateHasChanged();
        reading = false;
        waitText = "";
        SplitPane.change = true;
    }

    void splitDescription()
    {
        BaseNode[] nodes = entries.ToArray();
        for (int i = 0; i < nodes.Length; i++)
        {
            if (nodes[i].ToString().Contains("Detailed summary"))
            {
                ((Message)nodes[i]).AddChild(new Message() { Text = nodes[i].ToString().Substring(17) });
            }
        }
    }

}
